.section7 h4{

    position: absolute;
    width: 302px;
    height: 86px;
    left: 250px;
    top: 5367px;
    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 35px;
    line-height: 43px;
    
    color: #000000;
    .section7-para1{
        position: absolute;
        width: 583px;
        height: 130px;
        left: 250px;
        top: 5488px;

        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 17px;
        line-height: 26px;

        color: #000000;
    }

}
.section7-para1{
    position: absolute;
    width: 583px;
    height: 130px;
    left: 250px;
    top: 5520px;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 26px;
    
    color: #000000;
       
}
.section7-img1 img{
    position: absolute;
    width: 256px;
    height: 384px;
    left: 230px;
    top: 5741px;
    border-radius: 10px 0px 0px 10px;  
}
.section7-rectangle1{
    position: absolute;
    width: 256px;
    height: 384px;
    left: 456px;
    top: 5741px;
    
    background: #9F7464;
    border-radius: 10px;   
    h3{
        text-align: center;
        top: 5710px;
        left: 471px;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        font-size: 20px;  
        color: #FFFFFF;
    }
    p{
        text-align: center;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 21px;

        color: #FFFFFF;
    }
}
.section7-img2{
    position: absolute;
    width: 323px;
    height: 384px;
    left: 759px;
    top: 5741px;
    
    background: url("/images/Rectangle 41.png");
    border-radius: 10px;
    h3{
        height: 46.26px;
        left: 830px;
        top: 10036.71px;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        
        color: #FFFFFF;    
    }   
}
.section7-img3{
    position: absolute;
    width: 323px;
    height: 384px;
    left: 1115px;
    top: 5741px;
    
    background: url("/images/Rectangle 42.png");
    border-radius: 10px;  
}