.section2{
    position: absolute;
    width: 547px;
    height: 681px;
    left: 230px;
    top: 992px;

    background-image: url("/images/section2.png");
    border-radius: 10px;
}
.section2-heading{
    position: absolute;
    width: 172.99px;
    height: 43px;
    left: 825.11px;
    top: 45px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 35px;
    line-height: 43px;
    color: #000000;
}
.section2-para1{
    position: absolute;
    width: 574.89px;
    height: 104px;
    left: 825.11px;
    top: 150px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 26px;

    color: #373737;

}
.section2-para2{
    position: absolute;
    width: 569.71px;
    height: 182px;
    left: 822px;
    top: 279px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 26px;

    color: #373737;

}
.section2-rectangle1{
    position: absolute;
    width: 185px;
    height: 50px;
    left: 825px;
    top: 540px;

    background: #9F7464;
    border-radius: 10px;
    }

.section2-para3{
    position: absolute;
    width: 92px;
    height: 26px;
    left: 871px;
    top: 541px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 26px;
    padding: auto;
    /* identical to box height */


    color: white;

}
