
.section6-heading{
    position: absolute;
    width: 364px;
    height: 87.14px;
    left: 200px;
    top: 4492px;
    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 35px;
    line-height: 43px;
    
    color: #000000;
      
}
.section6-para1{

    position: absolute;
    width: 514px;
    height: 131.72px;
    left: 886px;
    top: 4513.28px;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 26px;
    
    color: #373737;
}
.section6-rectangle1{
    position: absolute;
    width: 179px;
    height: 50px;
    left: 200px;
    top: 4640px;
    
    background: #9F7464;
    border-radius: 15px;
}
.section6-para2{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 26px;
    text-align: center;
    
    color: #FFFFFF;
}
.section6-img-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.section6-card1 img{
    position: absolute;
    width: 380px;
    height: 410.69px;
    left: 250px;
    top: 4745px;
    border-radius: 15px 15px 0px 0px;   
}
.section6-container1{
    box-sizing: border-box;
    position: absolute;
    width: 380px;
    height: 114px;
    left: 250px;
    top: 5150px;
    padding: 2px 16px;
    border: 2px solid rgba(209, 209, 209, 0.75);
    border-radius: 0px 0px 15px 15px;
    h4{
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 21px;
    }
    p{
        text-align: end;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
    }
}

.section6-card2 img{
    position: absolute;
    width: 380px;
    height: 410.69px;
    top: 4745px;
    left: 700px;
    border-radius: 15px 15px 0px 0px;   
}

.section6-container2{
    box-sizing: border-box;
    position: absolute;
    width: 380px;
    height: 114px;
    left: 700px;
    top: 5150px;
    padding: 2px 16px;
    border: 2px solid rgba(209, 209, 209, 0.75);
    border-radius: 0px 0px 15px 15px;
    h4{
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 21px;
    }
    p{
        text-align: end;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
    }
}


.section6-card3 img{
    position: absolute;
    width: 380px;
    height: 410.69px;
    top: 4745px;
    left: 1150px;
    border-radius: 15px 15px 0px 0px;   
}


.section6-container3{
    box-sizing: border-box;
    position: absolute;
    width: 380px;
    height: 114px;
    left: 1150px;
    top: 5150px;
    padding: 2px 16px;
    border: 2px solid rgba(209, 209, 209, 0.75);
    border-radius: 0px 0px 15px 15px;
    h4{
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 21px;
    }
    p{
        text-align: end;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
    }
}

