.section4{
   .section4-head1{
        position: absolute;
        width: 331px;
        height: 30px;
        left: 634px;
        top: 2696px;

        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        font-size: 25px;
        line-height: 30px;

        color: #000000;
    }
    .section4-num1{
            position: absolute;
            width: 71px;
            height: 31px;
            left: 200px;
            top: 2822px;

            background: #9F7464;
            border-radius: 15px;

    }

}
.section4-circle1{
    position: absolute;
    width: 20px;
    height: 20px;
    left: 20px;
    top: 4.5px;
     border-radius: 12px;

    background: #FFFFFF;
}
.section4-heading1{
    position: absolute;
    width: 235px;
    height: 28px;
    left: 200px;
    top: 2860px;
    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 23px;
    line-height: 28px;
    /* identical to box height */  
    color: #000000;
}
.section4-para1{
    position: absolute;
    width: 461px;
    height: 69px;
    left: 200px;
    top: 2901px;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    
    color: #373737;
       
}
.section4-num2{

    position: absolute;
    width: 71px;
    height: 31px;
    left: 200px;
    top: 3009px;
    
    background: #9F7464;
    border-radius: 15px;
}
.section4-circle2{
    position: absolute;
    width: 20px;
    height: 20px;
    left: 20px;
    top: 4.5px;

    border-radius: 12px;
    background: #FFFFFF;
}
.section4-heading2{
    position: absolute;
    width: 260px;
    height: 28px;
    left: 200px;
    top: 3047px;
    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 23px;
    line-height: 28px;
    /* identical to box height */
    
    
    color: #000000;   
}
.section4-para2{
    position: absolute;
    width: 461px;
    height: 46px;
    left: 200px;
    top: 3088px;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    
    color: #373737;   
}
.section4-num3{
    position: absolute;
    width: 71px;
    height: 31px;
    left: 200px;
    top: 3173px;
    
    background: #9F7464;
    border-radius: 15px;  
}
.section4-circle3{
    position: absolute;
    width: 20px;
    height: 20px;
    left: 20px;
    top: 4.5px;
    border-radius: 12px;

    background: #FFFFFF;
}
.section4-heading3{
    position: absolute;
    width: 272px;
    height: 28px;
    left: 200px;
    top: 3211px;
    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 23px;
    line-height: 28px;
    /* identical to box height */
    
    
    color: #000000;  
}
.section4-para3{
    position: absolute;
    width: 461px;
    height: 69px;
    left: 200px;
    top: 3252px;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    
    color: #373737;
      
}
.section4-img1{
    position: absolute;
    width: 376px;
    height: 304px;
    left: 1024px;
    top: 2801px;
    
    background: url("/images/Rectangle 29.png");
    border-radius: 20px;
}
.section4-img2{
    box-sizing: border-box;

    position: absolute;
    width: 376px;
    height: 304px;
    left: 799px;
    top: 3046px;
    
    background: url("/images/Rectangle 28.png");
    border: 8px solid #FFFFFF;
    border-radius: 20px;
}
.section4 h5{
 
position: absolute;
width: 20px;
height: 20px;
left: 20px;
top: 0.5px;
text-align: center;
font-family: 'Poppins';
font-style: normal;
font-size: 15px;
line-height: 27px;

color: #2F2F2F;
   
}